<div class="container-fluid" id="head">
    <h1 style="text-align: center;font-size: 30px;padding-top: 30px;font-style: italic;">会計でみんなに幸せをもたらす.</h1>
    <p style="border-bottom: 1px solid rgba(212, 58, 58, 0.884);width: 480px;margin-left: 430px;"></p>
    <p style="text-align: center;font-style: italic;">
      私たちは、会計によってすべての人に幸せをもたらす最強のチームを構築することを目指しています。</p>
</div>
<nav class="navbar navbar-expand-sm navbar-secondary bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="assets/image/[C]Sorimachi_Viettnam.png" alt="Logo" id="sori">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">ホームページ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">会社概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">リクルート</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">ソリマチカンパニー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">人員</a>
        </li>
      </ul>
      <form class="d-flex" >
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button" style="width: 100px;">Search</button>
      </form>
    </div>
  </div>
</nav>
        
