<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <img src="assets/image/sori12.png" alt="Logo" id="sori">
                
                <div class="card" style="margin-top: 20px;">
                    <div class="card-body">
                        <img src="assets/image/GD.png" alt="Logo" style="width: 100%;">
                        <p style="font-family: 'Times New Roman', Times, serif;font-size: large;font-weight: bold;">“Sự hài lòng của khách hàng là ưu tiên hàng đầu của chúng tôi.”</p>
                        <p style="font-size: 12px;float: right;">Công ty TNHH Sorimachi Việt Nam <br>
                            General Director TAKAHASHI AKIHIKO</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <h4 style="text-align: center;">Ứng viên mà công ty yêu cầu</h4>
            <h2 style="text-align: center;">“Sự tự giác - Sức tưởng tượng - Ý chí tự do”</h2>
            <br>
            <span>
                Với mục tiêu tạo ra một công ty có thể tồn tại hàng trăm năm, chúng tôi đang muốn tìm kiếm những ứng viên:
                Những ứng viên sáng tạo, luôn đứng ở lập trường của đối phương, tư duy linh hoạt và hành động nhanh chóng.
            </span>
            <p>
                Mang tinh thần nhiệt huyết, luôn muốn hoàn thiện bản thân trên vũ đài của Kế Toán Sorimachi để trưởng thành.
            </p>
            <div class="list-group-item clearfix">
                <div class="row">
                    <h4 style="background-color: antiquewhite;font-style: initial;">Thông tin tuyển dụng</h4>
                    <br>
                    <p style="background-color: beige;">Sorimachi Việt Nam là Công ty 100% vốn của Sorimachi Corporation (Nhật Bản) đảm nhận phát triển offshore cho các sản phẩm “Oh Series” mà Sorimachi phát triển, cung cấp ra thị trường Nhật Bản như Kaikeio, Hanbaio, Kyuryoo và các phần mềm liên quan đến Nông nghiệp. Sorimachi Việt Nam cũng cung cấp các dịch vụ Contents. Trong tương lai, chúng tôi sẽ xúc tiến kế hoạch phát triển offshore phần mềm cho toàn thể Sorimachi Group, đồng thời cũng sẽ triển khai phát triển và cung cấp sản phẩm cho thị trường Việt Nam.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <h4 style="text-align: center;border-bottom: 2px solid;">Các yêu cầu khi ứng tuyển</h4>
                <table class="mb30" summary>
                    <tr>
                        <th class="w25">Cần tuyển</th>
                        <td>20 lập trình viên <br>
                            Nhận sinh viên thực tập thường xuyên
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Công việc</th>
                        <td>Thực hiện công việc Offshore từ thị trường Nhật, phát triển sản phẩm cho thị trường Việt Nam.
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Hình thức tuyển dụng</th>
                        <td>Nhân viên chính thức, nhân viên thực tập từ 2 đến 3 tháng.
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Cần tuyển</th>
                        <td>20 lập trình viên <br>
                            Nhận sinh viên thực tập thường xuyên
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Nơi làm việc</th>
                        <td>Tòa nhà Tuổi Trẻ, Tầng 9, 60A Hoàng Văn Thụ, Phường 9, Q. Phú Nhuận, TP. HCM.
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Mô tả công việc</th>
                        <td>Lập trình ứng dụng trên Windows, Web Application
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Yêu cầu công việc</th>
                        <td>Trình Độ: Đã tốt nghiệp hoặc sắp tốt nghiệp đại học liên quan đến các ngành CNTT. <br>
                            Độ tuổi: Dưới 30 tuổi.
                            <br>
                            <br>
                            1. Lập trình ứng dụng <br>
                            Có kiến thức về Borland C++ (Embarcadero XE7), VC++, SQL Server
                            <br>
                            <br>
                            2. Lập trình Web (ASP.NET) <br>
Có kiến thức về C#, MVC, SQL Server, CSS, JS, Jquery, SQL Server
                            <br>
                            <br>
                            3. Lập trình Web (PHP) <br>
                            Có kiến thức về PHP, (ưu tiên biết thêm WordPress), CSS, JS, Jquery, MySQL <br>
                            ※ Ưu tiên đối với các ứng viên: <br>
                            Có kiến thức về Smart Phone Application. <br>
                        </td>
                        
                    </tr>
                    <tr>
                        <th class="w25">Yêu cầu kỹ năng</th>
                        <td>Kỹ năng tư duy tốt, giải quyết vấn đề, làm việc nhóm.
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Chế độ đãi ngộ</th>
                        <td>Cơ hội đi Nhật làm việc. <br>
                            Được học tiếng Nhật miễn phí tại công ty. Được làm việc trong môi trường thân thiện. <br>
                            Được đóng BHXH, BHYT và BHTN ngay sau khi ký hợp đồng chính thức.<br>
                            Có chế độ khám sức khỏe định kỳ 1 năm 1 lần.<br>
                            Du lịch công ty 1 năm 1 lần, tham gia các hoạt động thể thao như đá banh, cầu lông… 
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Thời gian làm việc</th>
                        <td>8:00～17:00
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Ngày nghỉ</th>
                        <td>Thứ 7, Chủ nhật và các ngày lễ.
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Liên hệ</th>
                        <td>Ms. Huệ ĐT: +84-(0)28-3849-5557 <br>
                            E-mail: hueho@sorimachigroup.vn
                        </td>
                    </tr>
                    <tr>
                        <th class="w25">Điều kiện</th>
                        <td>	Bằng kỹ sư, cử nhân ngành CNTT, tiếng nhật (nếu có).
                        </td>
                    </tr>
                </table>
                
                <div class="row" style="padding-top: 15px;">
                    <app-subcribes></app-subcribes>
                </div>
            </div>
        </div>
    </div>
</div>

